<header>
  <mat-toolbar color="primary">Spot Cars!</mat-toolbar>
</header>
<div class="container">
  <div class="jumbotron">
    <h1 class="display-4">Witamy w świecie wszechobecnych spalin!</h1>
    <p class="lead">Jeśli zapach benzyny o poranku to najlepsze co może Cię spotkać, jesteś we właściwym miejscu</p>
    <hr class="my-4">
    <p>Czy napewno chcesz wejść na tą stronę?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/welcome']" role="button">Wchodzę!</a>
    </p>
  </div>
</div>


<footer></footer>
